.all-flights {
  margin-bottom: 20px;
  overflow: scroll;
  height: 85vh;
  margin-left: auto;
  margin-top: 50px;
}

.chosen-flights-wrapper {
  overflow: scroll;
  background-color: rgba(255, 255, 255, .55);
  border-radius: 10px;
  margin-top: 50px;
  height: 85vh;
  min-width: 300px;
  box-sizing: border-box;
  margin-left: 20px;
  padding: 15px;
}

.flex-flights {
  display: flex;
}

.saveToDbButton {
  margin: auto;
  margin-bottom: 100px;
  padding: 5px;
  display: flex;
  height: fit-content;
  align-items: center;
  background-color:#f50057;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 80%;
}

.saveToDbButton:disabled {
  background-color: #b7b7b7;
}