.all-flights {
  margin-bottom: 20px;
  overflow: scroll;
  height: 85vh;
  margin-left: auto;
  margin-top: 50px;
}

.chosen-flights-wrapper {
  overflow: scroll;
  background-color: rgba(255, 255, 255, .55);
  border-radius: 10px;
  margin-top: 50px;
  height: 85vh;
  min-width: fit-content;
  box-sizing: border-box;
  margin-left: 20px;
}

.flex-flights {
  display: flex;
}