.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-width {
  padding: 15px;
  width: 230px;
  background-color: rgba(255, 255, 255, 75%);
}

.overflow-scroll {
  overflow-y: scroll; 
  position: absolute;
  top: 53px;
  left: 45px;
  width: 75vw;
  height: 90vh;
}

.tile-bg {
  background-color: rgba(200, 200, 200, .65);
}

.planAway-wrapper {
  display: flex;
}
