.Profile-wrapper {
  position: relative;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 70%);
  border-radius: 10px;
}

.Profile-btn {
  margin-top: 15px;
}
.buttons {
  display: flex;
  flex-direction: row-reverse;
}

.edit-icon {
  margin-left: 95%;
}

.saveTripButton {
  margin-left: 5px;
}

.goBackButton {
  margin-right: 5px;
}

.saveTripButton, .goBackButton {
  display: flex;
  height: fit-content;
  align-items: center;
  background-color:#f50057;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 80%;
  margin-bottom: 0px !important;
}

.saveTripButton:disabled {
  background-color: #b7b7b7;
}

.user-details {
  margin-bottom: 15px;
}

.new-trip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saved-in-db:after {
  content: 'Your trip was saved in the database';
  padding: 5px 3px;
  width: -webkit-fill-available;
  position: absolute;
  color: #C51162;
  background-color: rgba(255, 255, 255, 70%);
  top: -37px;
  left: 0;
  border: 2px solid #C51162;
}

.no-trips {
  padding: 10px 0;
  color: #C51162;
}

.current-trips {
  color: rgb(23, 22, 22);
}