.Profile-wrapper {
  position: relative;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 70%);
  border-radius: 10px;
}

.Profile-btn {
  margin-top: 15px;
}
.buttons {
  display: flex;
  flex-direction: row-reverse;
}

.saveTripButton {
  margin-left: 5px;
}

.goBackButton {
  margin-right: 5px;
}

.saveTripButton, .goBackButton {
  display: flex;
  align-items: center;
  background-color:#f50057;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 80%;
}

.user-details {
  margin-bottom: 15px;
}

.new-trip {
  display: flex;
  flex-direction: column;
  align-items: center;
}