@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');

body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border: 1px solid beige;
}

.navigation-auth {
  float: right !important;
}

li {
  float: left;
  font-family: 'Signika', sans-serif;
}

li .navigation-link {
  display: block;
  color: rgb(173, 172, 172);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li .navigation-link:hover {
  background-color: rgb(246, 246, 246);
}