@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');

body {
  margin: 0;
  text-align: center;
  font-family: 'Signika', sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  background: rgb(228, 228, 228) url('./assets/images/image.png') no-repeat left top / cover;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.navbar {
  height: fit-content;
}